{%extends "Plankton/plantillas/base.html"%}
{% block title %} Plankton - FAQ {% endblock %}
{% block content %}
{% load static %}

<br>
<section class="FAQ">
  <div class="container" style="width: 100%; background-color: #73aa8c; padding: 30px; border-radius: 10px;">
    <h1 style="text-align:center;">Preguntas Frecuentes</h1>
    <hr class="rounded">
    <br>
    <h4>¿Cómo saber el estado de mi pedido?</h4>
    <p>Para saber el estado de tu pedido busca el número de pedido en tu correo electrónico e ingresalo en nuestra <u><a
          href="rastrer">Herramienta de Rastreo de Pedidos.</a></u></p>
    <br>
    <h4>Perdí el acceso a mi cuenta de usuario</h4>
    <p>Para recuperar el acceso a tu cuenta de usuario, accede a nuestra <u><a href="recuperarcuenta">Herramienta de
          Recuperación de Cuentas.</a></u></p>
    <br>
    <h4>Tuve un problema con mi pedido.</h4>
    <p>Contacta con nuestro <u><a href="support">Equipo de Soporte.</a></u> Estaremos más que felices de ayudarte :).
    </p>

  </div>



</section>
<br>
{% endblock %}